{% extends 'base.template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h2>Post your answer!</h2>
  <blockquote class="blockquote">
    <h5>{{question.title}}</h5>
    <p>{{question.content}}</p>
  </blockquote>
  <form method="POST">
    {% csrf_token %} {{ answer_form|crispy }}
    <input type="submit" class="btn btn-info" value="Answer!" />
  </form>
</div>
{% endblock%}

{% block js %}
<script>
  $("#navbar-forum").addClass("active");
</script>
{% endblock %}