{% extends 'base.template.html' %}
{%load static %}

{% block content %}
<div class="container text-center pt-4">
  <img
    class="avatar mx-auto img-fluid big-card mb-3"
    src="{{tutor.image_url}}"
    alt="profile picture"
  />
  <h1>{{tutor.first_name}} {{tutor.last_name}}</h1>
</div>
<div class="container text-center main-div">
  {% if "Administrators" in groups %}
  <div class="mb-3">
    <a
      href="{% url 'update_tutor' tutor_id=tutor.id %}"
      class="btn btn-info"
      >Update</a
    >
    <a
      href="{% url 'delete_tutor' tutor_id=tutor.id %}"
      class="btn btn-danger"
      >Delete</a
    >
  </div>
  {% endif %}
  <div>
    <p>{{tutor.summary}}</p>
  </div>
  <h4>Teaches:</h4>
  <div class="row justify-content-center">
    {% for course in tutor.courses.all|dictsort:"id" %}
    <div class="card mini-card index-card">
      <a href="{%url 'view_course_details' course_id=course.id %}">
        <img
          class="card-img-top img-fluid course-logo my-auto"
          style="margin-bottom:10px;"
          style="margin-bottom:0 !important;"
          src="{{course.logo_url}}"
          alt="course logo img"
        />
      </a>
      <div class="text-center">
        <p class="card-title" style="font-size:0.75em;">{{course.title}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $("#navbar-tutors").addClass("active");
</script>
{% endblock %}
