{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{%load static %}

{% block content %}
	<h1>{{course.title}}</h1>
	<img src="{{course.logo_url}}" alt="logo image">
	<h3>Taught By</h3>
	<ul>
	{% for tutor in course.tutors.all %}
	<li>{{tutor.first_name}} {{tutor.last_name}}</li>
	{% endfor %}
	</ul>
	<p>{{course.description}}</p>

	<!--Reviews Section-->
	<h3>Reviews</h3>
	<a href="{% url 'create_review' course_id=course.id %}" class="btn btn-secondary">New Review</a>
{% endblock %}

{% block js %}
<script>
	$("#navbar-courses").addClass("active");
</script>
{% endblock %}