{% extends 'base.template.html' %}
{%load static %}

{% block content %}
<div class="text-center justify-content-center">
	<img class="avatar mx-auto" src="{{tutor.image_url}}" alt="profile picture">
	<h1>{{tutor.first_name}} {{tutor.last_name}}</h1>
	<p>
        Teaches:
	</p>
	<div class="row justify-content-center">
		{% for course in tutor.courses.all %}
		<div class="card index-card">
			<div class="card-body card-img-div">
				<img class="card-img-top img-fluid course-logo align-self-center" src="{{course.logo_url}}" alt="Card image cap">
			</div>
			<div class="card-body">
				{{course.title}}
			</div>
		</div>
		{% endfor %}
	</div>	
	<p>{{tutor.summary}}</p>
</div>
	
{% endblock %}

{% block js %}
<script>
	$("#navbar-tutors").addClass("active");
</script>
{% endblock %}