{% extends 'base.template.html' %}
{%load static %}

{% block content %}
<div class="text-center">
	<img class="avatar mx-auto big-card" src="{{tutor.image_url}}" alt="profile picture">
	<h1>{{tutor.first_name}} {{tutor.last_name}}</h1>
</div>
<div class='text-center'>
	{% if "Administrators" in groups %}
	<div>
		<a href="{% url 'update_tutor' tutor_id=tutor.id %}" class = "btn btn-info">Update</a>
		<a href="{% url 'delete_tutor' tutor_id=tutor.id %}" class = "btn btn-danger">Delete</a>
	</div>
	{% endif %}
	<h4>Teaches:</h4>
	<div class="row justify-content-center">
		{% for course in tutor.courses.all %}
		<div class="card mini-card">
			<a href="{%url 'view_course_details' course_id=course.id %}" class="card-body">
				<img class="card-img-top img-fluid course-logo my-auto" src="{{course.logo_url}}" alt="course logo img">
			</a>
			<div class="card-body">
			  <h4 class="card-title">{{course.title}}</h4>
			</div>
		</div>
		{% endfor %}
	</div>
	<div>
		<p>{{tutor.summary}}</p>
	</div>
</div>
	
{% endblock %}


{% block js %}
<script>
	$("#navbar-tutors").addClass("active");
</script>
{% endblock %}