{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{%load static %}

{% block content %}
	<h1>{{course.title}}</h1>
	<img src="{{course.logo_url}}" alt="logo image">
	<h3>Taught By</h3>
	<ul>
	{% for tutor in course.tutors.all %}
	<li>{{tutor.first_name}} {{tutor.last_name}}</li>
	{% endfor %}
	</ul>
	<p>{{course.description}}</p>

	<!--Reviews Section-->
	<h3>Reviews</h3>
	<!-- <a href="{% url 'create_review' course_id=course.id %}" class="btn btn-secondary">New Review</a> -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReview">
		New Review
	</button>
	{% for r in course.review_set.all %}
	<div class="card">
		<div class = "card-body">
			<div class="card-title">
				<h3>{{r.title}}</h3>
			</div>
			<div>
				{{r.content}}
			</div>
			<p>Posted by {{r.user.username}}</p> 
		</div>
	</div>
	{% endfor %}

	<div class="modal fade" id="createReview" tabindex="-1" aria-labelledby="createReviewLabel" aria-hidden="true">
		<div class="modal-dialog">
		  	<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createReviewLabel">New Review</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			
				<form method="POST" action="{% url 'create_review' course_id=course.id %}">
					<div class="modal-body">
					{% csrf_token %}
					{{ form|crispy}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>		
			</div>	
		</div>
	</div>
{% endblock %}

{% block js %}
<script>
	$("#navbar-courses").addClass("active");
</script>
{% endblock %}