{% extends 'base.template.html' %}
{% load static %}

{% block content %}
 <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Courses</h1>
      <p>We have different types of courses for different types of aspiring developers. Frontend or backend, take your pick!</p>
    </div>
  </div>
<div class="container text-center">
  {% if 'Administrators' in groups %}
  <p class="mt-3">For Staffs:</p>
  <a
    href="{% url 'create_course' %}"
    class="btn btn-primary"
    style="margin-bottom: 30px;"
    >Add Course</a
  >
  {% endif %}
</div>
<div class="container text-center main-div">
  {% for devtype in devtypes %}
  <h1 class="display-4">{{devtype.title}}</h1>
  <div class="row justify-content-left mb-3 flex-nowrap"
  style="overflow-x:auto;">
    {% for course in courses %}
    {% if course.devtype.title == devtype.title %}
    <div class="card big-card index-card col-md-3 col-6 mb-3">
      <a href="{%url 'view_course_details' course_id=course.id %}">
        <img
          class="img-fluid course-logo img-icon"
          src="{{course.logo_url}}"
          alt="course logo img"
        />
      </a>
      <div class="text-center">
        <h4 class="card-title">{{course.title}}</h4>
        <h5 class="card-title">${{course.cost|floatformat:0}}</h5>
        <a
          href="{% url 'view_course_details' course_id=course.id %}"
          class="btn btn-outline-dark"
          >View Details</a
        >
        {% if "Administrators" not in groups %}
        {% if course in purchased_courses %}
        <button class="btn btn-light" disabled>Purchased</button>
        {% elif course.title in cart_items %}
        <button class="btn btn-success" disabled>In Cart</button>
        {% else %}
        <a
          href="{% url 'add_to_cart' course_id=course.id %}"
          class="btn btn-outline-success"
          >Add to Cart</a
        >
        {% endif %}
        {% endif %}
      </div>
      {% if "Administrators" in groups %}
      <div class="text-center">
        <a
          href="{% url 'update_course' course_id=course.id %}"
          class="btn btn-outline-info"
          >Update</a
        >
        <a
          href="{% url 'delete_course' course_id=course.id %}"
          class="btn btn-outline-danger"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
  $("#navbar-courses").addClass("active");
</script>
{% endblock %}
