.card {
    background-color: transparent !important;
}

.index-card {
    border-style: none;
    margin:20px !important;
}

.avatar {
    border-radius: 50%;
    margin:auto;
}

.course-logo {
    max-width:100% !important;
    height:auto;
    margin:auto !important;
    margin-bottom:30px !important;
}

.img-icon {
    transition: transform 0.5s;
}

@media (min-width: 980px) {
  .img-icon:hover {
    transform: scale(1.2);
    transform-origin: center;
    z-index: 1000;
  }
}

.big-card {
    max-width: 250px;
}

.mini-card {
    max-height:150px;
    max-width:120px;
}

.card-img-div {
    height:250px;
    display:flex;
    width:auto;
    margin:auto;
}

.subpost {
    color:darkgrey;
}

.asteriskField {
    display: none;
}

.btn {
    margin:5px;
}

.main-div {
    margin-bottom: 60px;
}