.index-card {
    border-style: none;
}

.avatar {
    border-radius: 50%;
    margin:auto;
}

.course-logo {
    max-width:100% !important;
    max-height:100% !important;
    height:auto;
    width:auto;
    margin:auto !important;
    display:flex;
}

.big-card {
    max-width: 300px;
    border-style: none;
}

.mini-card {
    max-height:150px;
    max-width:120px;
    border-style: none;
}

.card-img-div {
    height:250px;
    display:flex;
    width:auto;
    margin:auto;
}

.subpost {
    color:darkgrey;
}