body {
    background-color:rgba(30, 30, 30);
    color:lightgrey;
    margin-bottom:80px;
    font-family: 'Roboto', sans-serif;
}

.scrolldiv {
    background-color:rgba(150, 150, 150, 0.1);
    border-radius:20px;
}

.jumbotron {
    background-color:rgb(60, 64, 66);
}

.main-logo {
    border-radius:20px;
    width:auto;
    max-height:250px;
}

.card {
    background-color: transparent !important;
    border-color:rgb(235,236,236) !important;
    border-radius:10px;
}

.index-card {
    border-style: none;
    margin:20px !important;
}

.avatar {
    border-radius: 50%;
    margin:auto;
}

.course-logo {
    max-width:100% !important;
    height:auto;
    margin:auto !important;
    margin-bottom:20px !important;
}

.img-icon {
    transition: transform 0.2s;
}

.big-card {
    max-width: 250px;
}

.mini-card {
    width:100px;
    height:auto;
}

.card-img-div {
    height:250px;
    display:flex;
    width:auto;
    margin:auto;
}

.mainpost{
    background-color: rgb(38,44,52) !important;
}

.subpost {
    color:rgb(245,246,246);
    background-color:rgb(60,64,66);
    border-radius:10px !important;
}

.asteriskField {
    display: none;
}

.btn {
    margin:5px;
}

.main-div {
    margin-bottom: 60px;
}

.active.nav-item {
    background-color: rgb(96,99,104) !important;
    border-radius:5px;
}

.text-muted {
    color:rgba(209, 190, 122, 0.8) !important;
}

.blockquote-footer {
    color:rgb(152, 216, 250, 0.6) !important
}

.active > a {
    color:white !important;
}

footer {
    background-color: rgb(51,41,64);
}

.navbar {
    background-color:rgb(51,41,64);
}

.nav-item {
    margin-left:5px !important;
    margin-right:5px !important;
}

.nav-item .nav-link {
    padding-left:10px !important;
    padding-right:10px !important;
}

 .featurette-divider {
    margin: 80px;
    border-color:rgb(235,236,236);  
}

 .featurette {
  overflow: hidden;
}

 .featurette-heading {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.modal-content {
    background-color:rgba(9, 9, 9);
    color:inherit;
    border-color:rgb(235,236,236);
    border-radius:20px;
}

.danger {
    color:rgb(220,53,69);
}

.cart-item {
    max-width:800px !important;
}

h2 {
    padding-top:10px;
}

h1 {
    padding-top:10px;
}

@media (min-width: 980px) {
  .img-icon:hover {
    transform: translate(0px,-10px);
    transform-origin: center;
    z-index: 1000;
  }
}

@media (max-width: 980px) {
    .feature-card {
        text-align:center;
    }
}

@media (max-width: 767px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(100%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-100%);
    }
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }

    .big-card{
        margin:auto !important;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}