body {
    margin-bottom:80px;
}

.main-logo {
    border-radius:20px;
    width:250px;
    height:250px;
}

.card {
    background-color: transparent !important;
}

.index-card {
    border-style: none;
    margin:20px !important;
}

.avatar {
    border-radius: 50%;
    margin:auto;
}

.course-logo {
    max-width:100% !important;
    height:auto;
    margin:auto !important;
    margin-bottom:20px !important;
}

.img-icon {
    transition: transform 0.2s;
}

.big-card {
    max-width: 250px;
}

.mini-card {
    width:100px;
    height:auto;
}

.card-img-div {
    height:250px;
    display:flex;
    width:auto;
    margin:auto;
}

.subpost {
    color:darkgrey;
}

.asteriskField {
    display: none;
}

.btn {
    margin:5px;
}

.main-div {
    margin-bottom: 60px;
}

.active {
    background-color: grey !important;
    border-radius:10px;
}

.active > a {
    color:white !important;
}

footer {
    background-color: lightgrey;
}

.nav-item {
    margin-left:5px !important;
    margin-right:5px !important;
}

 .featurette-divider {
  margin: 80px 0;
}

 .featurette {
  overflow: hidden;
}



 .featurette-image {
  margin-top: −100px;
}
 .featurette-heading {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


@media (min-width: 980px) {
  .img-icon:hover {
    transform: scale(1.1);
    transform-origin: center;
    z-index: 1000;
  }
}

@media (max-width: 980px) {
    .feature-card {
        text-align:center;
    }
}